<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="complete.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="complete.js" type="module" defer></script>
</head>

<body>
    <div class="outsideDiv">
        <p style="text-align: center;padding:20px;">주문이 완료되었습니다.</p>
        <br />
        <button style="color:blueviolet;background-color:rgb(245,245,245);" type="button" id="goToHome"
            class="button is-primary is-inverted button is-medium is-fullwidth" onclick="location.href='/'">쇼핑
            계속하기</button>
        <button style="color:blueviolet;background-color:rgb(245,245,245);" type="button" id="goToMyPage"
            class="button is-primary is-inverted button is-medium is-fullwidth"
            onclick="location.href='/mypage'">마이페이지</button>

    </div>
</body>

</html>