h2 {
    padding-top: 10px;
    border-bottom: solid blueviolet;
    text-align: center;
    font-size: 20px;
}

ol {
    list-style: none;
}

.container {
    max-width: 960px;
}
.stateList {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}
.List {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(109, 163, 224, 0.8);
    padding: 20px 0 20px 0;
}

/* .state {
    border: solid blueviolet;
    padding: 10px 20px 10px 20px;
} */