<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SHOW-SHOES</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <title>SHOW-SHOES</title>
  <script src="product.js" type="module" defer></script>
  <link rel="stylesheet" href="product.css" />
  <link rel="stylesheet" href="../../global/header.css" />
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <a href="/">
        <img src="../../logo.png" width="200px" height="60px" />
      </a>

      <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
        <ul id="navbar">
          <li>
            <a href="/login">로그인</a>
          </li>
          <li><a href="/register">회원가입</a></li>
          <li>
            <a href="/cart" aria-current="page">
              <span class="icon">
                <i class="fas fa-cart-shopping"></i>
              </span>
              <span>카트</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="productBody">
    <div id="productImage"><img id="gImage" src="" width="500px" alt="sneakers" /></div>

    <div id="productTable">
      <div id="tableHead">
        <span id="goodsName">상품명</span>
        <span id="productType">women</span>
      </div>
      <table style="border: 2px solid white">
        <tr>
          <th>상품가격</th>
          <td id="goodsPrice"></td>
        </tr>
        <tr>
          <th>브랜드명</th>
          <td id="brandName"></td>
        </tr>
        <tr>
          <th>상품코드</th>
          <td id="goodsCode"></td>
        </tr>
        <tr>
          <th>사이즈</th>
          <td id="productSize"></td>
        </tr>
        <tr>
          <th>상품설명</th>
          <td id="content"></td>
        </tr>
      </table>
      <div id="btn">
        <button type="button" id="cartButton" class="button is-dark">장바구니</button>
        <button type="button" id="purchaseButton" class="button is-dark">바로주문</button>
        <button id="likeBtn" class="likeButton like button">Like</button>
      </div>
    </div>
  </div>

  <script src="../../global/renderHeaderNavigationBar.js" type="module" defer></script>
  <script src="../../global/renderFooter.js"></script>
</body>

</html>