<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://shopping-mall-project-dvn6eaaasa-du.a.run.app/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <link href="./mypage-userInfo.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../global/header.css" />
    <script src="./mypage-userInfo.js" defer></script>
    <title>사용자 정보</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <a href="/">
          <img src="../../logo.png" width="200px" height="60px" />
        </a>

        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <ul id="navbar">
            <li>
              <a href="/login">로그인</a>
            </li>
            <li><a href="/register">회원가입</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span>카트</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="modal2" class="modal is-active">
      <div class="modal-background" id="modalBackground"></div>
      <div class="modal-content">
        <div class="box">
          <p class="mb-3">
            필수 비밀번호를 꼭 입력해주세요(미기입시 수정이 되지 않습니다!)
          </p>
          <label class="label" for="fullNameInput">사용자 이름</label>
          <div class="control">
            <input
              class="input"
              id="fullNameInput"
              type="text"
              placeholder="이름"
              autocomplete="on"
            />
          </div>
          <label class="label" for="passwordInput">비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="현재 비밀번호(필수 입력)"
              autocomplete="on"
            />
            <input
              class="input"
              id="passwordChangeInput"
              type="password"
              placeholder="변경할 비밀번호"
              autocomplete="on"
            />
          </div>

          <label class="label" for="addressInput">주소</label>
          <div class="control">
            <input
              class="input"
              id="postalCodeInput"
              type="text"
              placeholder="우편번호를 입력하세요."
              autocomplete="on"
            />
            <input
              class="input"
              id="address1Input"
              type="text"
              placeholder="시를 입력하세요."
              autocomplete="on"
            />
            <input
              class="input"
              id="address2Input"
              type="text"
              placeholder="구를 입력하세요."
              autocomplete="on"
            />
          </div>
          <label class="label" for="phoneNumberInput">연락처</label>
          <div class="control">
            <input
              class="input"
              id="phoneNumberInput"
              type="text"
              placeholder="010-xxxx-xxxx"
              autocomplete="on"
            />
          </div>

          <div class="buttons">
            <button
              class="button mt-5"
              id="updateCompleteButton"
              aria-label="close"
            >
              네
            </button>
            <button
              class="button is-primary mt-5"
              id="updateCancelButton"
              aria-label="close"
            >
              아니오
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="../../global/renderHeaderNavigationBar.js"
      type="module"
      defer
    ></script>
    <script src="../../global/renderFooter.js"></script>
  </body>
</html>
