<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자페이지</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="admin-product.css" />
    <script src="admin-product.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="header">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <a href="/">
            <img src="../logo.png" width="200px" height="30px" />
          </a>
        </div>
      </nav>
    </div>
    <div class="columns">
      <div class="column is-one-fifth is-bordered">
        <aside class="menu">
          <p class="menu-label">일반관리</p>
          <ul class="menu-list">
            <li><a href="/admin-order">주문관리</a></li>
            <li><a href="/admin-user">회원정보 관리</a></li>
            <li><a href="/admin-category">브랜드 관리</a></li>
          </ul>
          <p class="menu-label">상품관리</p>
          <ul class="menu-list">
            <li><a href="/admin-product" class="is-active">상품추가</a></li>
            <li><a href="/admin-product-delup">상품수정/삭제</a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="login-form-container productAddContainer">
          <form
            class="box login-form-box categoryDeleteForm"
            id="productAddForm"
          >
            <div class="field mb-5">
              <label class="label" for="productAdd">상품 추가</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="brandSelect">
                    <option value="">브랜드 선택</option>
                  </select>
                </div>
                <input
                  class="input"
                  type="text"
                  placeholder="상품이름"
                  id="productName"
                  autocomplete="on"
                />
                <input
                  class="input"
                  type="text"
                  placeholder="설명"
                  id="productDsc"
                  autocomplete="on"
                />
                <input
                  class="input"
                  type="number"
                  placeholder="가격"
                  id="productPrice"
                  autocomplete="on"
                />
                <div class="select is-fullwidth">
                  <select id="sizeSelect"></select>
                </div>
                <input
                  class="input"
                  id="productImg"
                  type="url"
                  placeholder="이미지 주소"
                  autocomplete="on"
                />
                <input
                  class="input"
                  type="number"
                  placeholder="재고"
                  id="productStock"
                  autocomplete="on"
                />
                <div class="select is-fullwidth">
                  <select id="categorySelect">
                    <option value="MEN">MEN</option>
                    <option value="WOMEN">WOMEN</option>
                    <option value="KIDS">KIDS</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <button
                class="button is-primary is-fullwidth"
                id="submitAddButton"
              >
                확인
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../global/renderFooter.js" type="module" defer></script>
  </body>
</html>
