#customRequest {
  display: none;
}
th,
td {
  padding: 7px;
}
.payment {
  border: solid black;
  font-size: large;
  padding: 40px;
  width: 500px;
}

.container {
  margin-top: 5px;
  display: flex;
  align-content: center;
  width: 80vw;
  justify-content: space-around;
}

#checkoutButton{
  display:flex;
  margin-left:auto;
  margin-top:80px;
}

@media screen and (max-width: 800px) {
  tr {
    display: flex;
    flex-direction: column;
  }
  input {
    width: auto;
  }
  .container {
    margin-top: 5px;
    display: block;
    align-content: center;
    width: 80vw;
    justify-content: space-around;
  }
  .payment {
    margin-right: 20px;
    border: solid black;
    padding: 10px;
    width: auto;
  }
}
