#customRequest {
  display: none;
}
th,
td {
  padding: 7px;
}
.payment {
  border: solid black;
  padding: 10px;
  width: 500px;
}

.container {
  margin-top: 5x0px;
  display: flex;
  align-content: center;
  width: 80vw;
  justify-content: space-around;
}
