<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SHOW-SHOES</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="../global/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
  </head>
  <body>
    <!-- 헤더 -->
    <div class="header">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <a href="/">
            <img src="../logo.png" width="200px" height="60px" />
          </a>
          <div class="field has-addons">
            <div class="control">
              <input
                id="search-input"
                class="input"
                type="text"
                placeholder="상품명으로 검색하세요."
              />
            </div>
            <div class="control">
              <a id="search-button" class="button"> Search </a>
            </div>
          </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li>
                <a href="/login">로그인</a>
              </li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <ul class="categoryNav">
        <li>
          <div class="navbar-item has-dropdown is-hoverable">
            <a id="brand" class="navbar-link navbar-item">BRAND</a>
            <div id="navbar-dropdown" class="navbar-dropdown"></div>
          </div>
        </li>
        <li id="MEN"><a class="navbar-item">MEN</a></li>
        <li id="WOMEN"><a class="navbar-item">WOMEN</a></li>
        <li id="KIDS"><a class="navbar-item">KIDS</a></li>
      </ul>
      <div>
        <ul class="categoryList hidden"></ul>
      </div>
      <div class="container">
        <div class="filter">
          <nav
            class="breadcrumb is-small nav-sortFilter"
            aria-label="breadcrumbs"
          >
            <ul>
              <li id="regDate"><a>최근 등록 순</a></li>
              <li id="highPrice"><a>가격 높은 순</a></li>
              <li id="lowPrice"><a>가격 낮은 순</a></li>
              <li id="highLike"><a>인기 순</a></li>
            </ul>
          </nav>
          <nav class="navbar-filter">
            <span>필터 : </span>
            <div class="block hidden no-margin" id="filter-name">
              <span class="tag" id="filter-name-span">
                상품명
                <button
                  class="delete is-small"
                  id="delete-filter-name"
                ></button>
              </span>
            </div>
            <div class="block hidden no-margin" id="filter-brand">
              <span class="tag" id="filter-brand-span">
                브랜드
                <button
                  class="delete is-small"
                  id="delete-filter-brand"
                ></button>
              </span>
            </div>
            <div class="block hidden no-margin" id="filter-category">
              <span class="tag" id="filter-category-span">
                카테고리
                <button
                  class="delete is-small"
                  id="delete-filter-category"
                ></button>
              </span>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- 상품 리스트 -->
    <div class="container">
      <ul class="productList"></ul>

      <!-- 페이지네이션 -->
      <nav
        class="pagination is-centered"
        role="navigation"
        aria-label="pagination"
      >
        <ul class="pageFrame pagination-list" id="js-pagination"></ul>
      </nav>
    </div>

    <script src="home.js" type="module" defer></script>
    <script
      src="../global/renderHeaderNavigationBar.js"
      type="module"
      defer
    ></script>
    <script src="../global/renderFooter.js" type="module" defer></script>
  </body>
</html>
