.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
}
.productList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product {
  max-width: 300px;
  width: 250px;
  margin: 5px 5px 20px 5px;
  transition: transform 0.2s;
}
.product:hover {
  transform: scale(1.05);
}
.price {
  font-weight: bold;
}
.categoryNav {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  border: black solid 1px;

  z-index: 5;
}
.categoryNav > li {
  width: 100%;
}
.has-dropdown > a {
  width: 100%;
  justify-content: center;
}
.categoryNav > li > a {
  justify-content: center;
}
.categoryList {
  background-color: rgba(203, 203, 173, 0.3);
  width: 150px;
  position: absolute;
  z-index: 99;

  /* animation-name: brand;
  animation-duration: 1s;
  overflow: hidden; */
}
.hidden {
  display: none;
}
/* @keyframes brand{
  from {
    height: 0;
  }
  to {
    height: 300px;
  }
} */
.pageFrame {
  width: 40vw;
  justify-content: space-between;
  display: flex;
  margin-top: 70px;
  margin-bottom: 50px;
}

button {
  cursor: pointer;
}

.navbar-filter {
  font-size: small;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 80px;
}

/* .product-image {
  max-width: 300px;
  min-height: 225px;
} */
.title.is-6 {
  height: 40px;
}

.breadcrumb > ul > li {
  background-color: rgba(255, 255, 255, 0.9);
}
.filter {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 5px;
  display: flex;
  z-index: 2;
  height: 30px;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .navbar-dropdown {
    display: none;
  }
  .show-block {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header {
    background-color: rgba(255, 255, 255, 0.9);
    height: 250px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: rgb(0 0 0 / 10%) 0px 25px 20px -20px;
  }
  .breadcrumb.is-small {
    flex-wrap: wrap;
    font-size: 0.75rem;
  }
  .filter {
    padding-top: 5px;
    z-index: 2;
    height: 30px;
    display: block;
  }
  .navbar-filter {
    justify-content: space-between;
    font-size: small;
    font-weight: bold;
    width: 230px;
    display: flex;
    margin: 10px 0 0 0;
  }
  .no-margin {
    margin: 0;
  }
  .block:not(:last-child) {
    margin-bottom: 0;
  }
}
