.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.productList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.product {
  max-width: 300px;
  width: 250px;
  margin: 5px 5px 20px 5px;
}
.categoryNav {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  border: blueviolet solid 1px;
  position: sticky;
  top: 0;
  z-index: 5;
}
.categoryNav > li {
  width: 100%;
}
.has-dropdown > a {
  width: 100%;
  justify-content: center;
}
.categoryNav > li > a {
  justify-content: center;
}
.categoryList {
  background-color: rgba(203, 203, 173, 0.3);
  width: 150px;
  position: absolute;
  z-index: 99;

  /* animation-name: brand;
  animation-duration: 1s;
  overflow: hidden; */
}
.hidden {
  display: none;
}
/* @keyframes brand{
  from {
    height: 0;
  }
  to {
    height: 300px;
  }
} */
.pageFrame {
  width: 40vw;
  justify-content: space-between;
  display: flex;
  margin-top: 70px;
}

button {
  cursor: pointer;
}

.navbar-filter {
  display: flex;
  max-width: 300px;
  justify-content: space-around;
}

/* .product-image {
  max-width: 300px;
  min-height: 225px;
} */
.title.is-6 {
  height: 40px;
}

.breadcrumb {
  margin-top: 5px;
  position: sticky;
  top: 50px;
  z-index: 20;
}
.breadcrumb > ul > li {
  background-color: rgba(255, 255, 255, 0.9);
}
