<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자페이지</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="admin-product-delup.css" />
    <script src="admin-product-delup.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="header">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <a href="/">
            <img src="../logo.png" width="200px" height="30px" />
          </a>

      
        </div>
    </nav>
    </div>
    <div class="columns">
    <div class="column is-one-fifth is-bordered">
      <aside class="menu">
        <p class="menu-label">
          일반관리
        </p>
        <ul class="menu-list">
          <li><a href="/admin-order" >주문관리</a></li>
          <li><a href="/admin-user">회원정보 관리</a></li>
          <li><a href="/admin-category">브랜드 관리</a></li>
        </ul>
        <p class="menu-label">
          상품관리
        </p>
        <ul class="menu-list">
          <li><a href="/admin-product" >상품추가</a></li>
          <li><a href="/admin-product-delup" class='is-active'>상품수정/삭제</a></li>
          
        </ul>
      </aside>
    </div>
    <div class="column">

    <div class="login-form-container productAddContainer">
      <form class="box login-form-box categoryDeleteForm" id="porductDeleteForm">


        <div class="field has-addons">
          <!-- <label class="label" for="submitBtnRef">상품 삭제/수정</label> -->
          <!-- <input class="input" type="text" placeholder="상품이름" id="productRefInput" autocomplete="on"/> -->
          <div class="control">
            <input class="input" type="text" placeholder="상품이름"id="productRefInput"autocomplete="on">
          </div>
          <div class="control">
             <button class="button is-info is-fullwidth deleteBtn" id="submitBtnRef">
               조회
             </button>
          </div>
        </div>

        <!-- <button class="button is-info is-fullwidth deleteBtn" id="submitBtnRef">
          조회
        </button> -->
      </form>
     
    </div>



    <div class="container product-container" id="ordersContainer">
      <div class="columns notification is-info is-light is-mobile orders-top">
        <div class="column is-4">상품</div>
        <div class="column is-4">브랜드</div>
        <div class="column is-2">수정</div>
        <div class="column is-2">삭제</div>
      </div>
   

    </div>


    <div id="modal1" class="modal">
      <div class="modal-background" id="modalBackground"></div>
      <div class="modal-content">
        <div class="box">
          <p class="mb-3">
            삭제 시 복구할 수 없습니다. 정말로 삭제 하시겠습니까?
          </p>
  
          <div class="buttons">
            <button class="button mt-5" id="deleteCompleteButton" aria-label="close">
              네
            </button>
            <button class="button is-primary mt-5" id="deleteCancelButton" aria-label="close">
              아니오
            </button>
          </div>
        </div>
      </div>
  
    </div>
    <div id="modal2" class="modal">
      <div class="modal-background" id="modalBackground"></div>
      <div class="modal-content">
        <div class="box">
          <p class="mb-3">
            정말로 수정하시겠습니까?
          </p>
          <div class="select is-fullwidth">
            <select id="brandSelect">
              <option value="">브랜드 선택</option>
            </select>
          </div>
          <label class="label" for="nameInput">상품이름</label>
          <div class="control">
            <input
              class="input"
              id="nameInput"
              type="text"
              placeholder="상품이름"
              autocomplete="on"
            />
          </div>
          <label class="label" for="imageUrlInput">이미지URL</label>
          <div class="control">
            <input
              class="input"
              id="imageUrlInput"
              type="url"
              placeholder="이미지 주소를 입력하세요."
              autocomplete="on"
            />
          </div>
          <label class="label" for="contentInput">상품내용</label>
          <div class="control">
            <input
              class="input"
              id="contentInput"
              type="text"
              placeholder="상품내용"
              autocomplete="on"
            />
          </div>
          <label class="label" for="categorySelect">카테고리</label>
          <div class="select is-fullwidth">
            <select id="categorySelect">
              <option value="MEN">MEN</option>
              <option value="WOMEN">WOMEN</option>
              <option value="KIDS">KIDS</option>
            </select>
          </div>
          <label class="label" for="sizeSelect">사이즈</label>

          <div class="select is-fullwidth">
            <select id="sizeSelect"></select>
          </div>
          <label class="label" for="priceInput">가격</label>
          <div class="control">
            <input
              class="input"
              id="priceInput"
              type="number"
              placeholder="가격"
              autocomplete="on"
            />
          </div>
          <label class="label" for="stockInput">재고</label>
          <div class="control">
            <input
              class="input"
              id="stockInput"
              type="number"
              placeholder="재고"
              autocomplete="on"
            />
          </div>
          <div class="buttons">
            <button class="button mt-5" id="updateCompleteButton" aria-label="close">
              네
            </button>
            <button class="button is-primary mt-5" id="updateCancelButton" aria-label="close">
              아니오
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>  

  <script src="../global/renderFooter.js" type="module" defer></script>
  </body>
</html>
